@{
    ViewBag.Title = "BJCP Quiz";
    ViewBag.CurrentPage = "home";
}

<h2>BJCP Quiz</h2>
<p>This webapp is to help study for the Beer Judge Certification Program (BJCP) course <a href="http://www.bjcp.org">www.bjcp.org</a></p>

